@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Sans&display=swap');

header {
  background-color: #009fb7;
  color: white;
  text-align: center;
  padding:5px;
}
footer{
  background-color: #009fb7;
  color:black;
  text-align: center;
  padding:5px;
}

main,
footer {
  font-family: 'PT Sans';
}

h1 {
  font-family: 'Acme';
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  margin:0;
  padding:5px;

}

h3 {
  font-size: 1em; 
  color: #1e555c;
  padding:10px;
}

footer a {
  color:black;
}

main {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  
}

section {
  background-color:#d8d8d8;
  margin: 0 0 20px; 
  padding:10px; 
 
}

section h2 {
  background-color: #009fb7;
  color: white;
  text-align:center;
}

section img {
  width: 100%;
  margin-top:10px;
}

section a {
  color: #1e555c; 
  margin-top:10px; 
}
section p {padding:10px;
color: #1e555c;}

header {
  margin-bottom: 10px;
}

footer {
  padding: 10px;
}
footer p:last-child {
margin-bottom: 0;
}