@media only screen and (min-width: 60rem) {
    h1{font-size:2.5rem;}
    img {
      height: 100%;
    }
    .weather_container{
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    
    /*----------- Home Page --------------*/
    .towns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 960px;
      grid-gap: 10px;
    }
            
    .towns section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40% 10% 20% 10% 10% 10%;
      width: 280px;
      height:550px;
      align-items: center;
      justify-items: center;
      
    }
            
    .towns img {
      object-fit: cover;
      width: 250px;
      height: 200px;
      border-radius: 5px 5px 0 0;
      grid-row: 1/2;
      width: 100%;       
      height:100%;
    }
    .towns h2 {
      grid-row: 2/3;
    }
    .towns p {
      grid-row: 3/4;
      font-size:18px;
    }
    .towns p1 {
      grid-row: 4/5;
      font-size:16px;
    }
    .towns p2 {
      grid-row: 5/6;
      font-size:16px;
    
    }
    .towns p3 {
      grid-row: 6/7;
      font-size:16px;
    
    }
            
    .towns section:nth-child(odd) img {
      grid-column: 2;
      
    }
            
    
            
    .towns section:nth-child(even) h2,
    .towns section:nth-child(even) p,
    .towns section:nth-child(even) p1,
    .towns section:nth-child(even) p2,
    .towns section:nth-child(even) p3 {
      grid-column: 2;
            
    }
  
}