
header{
    background-color:#004e64;
    display:flex;
    align-items:center;
    padding:10px;
    justify-content:center;   
}
header img{
    width:60px;
    height:auto; 
}

footer{
    background-color:#004e64;
    display:flex;
    text-align:center;
    padding:10px;
}

header, main, footer{
    max-width:767px;
    margin: auto;
}




h1{
    color:#ACDDE7;
    font-size:1.5rem;
    font-family:"Secular one";
    margin:0 0 0 10px;
}

h2{
    color:#004e64;
    font-family:"Secular one";
    text-align:center;
}

.gardenhead{
    display:flex;
    flex-direction:column;
}

.motto{
    font-family:"Open Sans";
    font-style: italic;
    font-size: 9px;
    color:white;
    margin-left:10px;
}
nav ul{
    list-style-type:none;
    padding:0;
    margin:0 auto;
}
nav{
    max-width:767px;
    margin: auto;
     }

nav{
    max-width:760px;
    background-color:#ACDDE7;   
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li{
    display:none;
}
.navigation li:first-child {
    display: block;
}


.navigation a{
    display:block;
    padding:0.9rem;
    text-align:center;
    text-decoration:none;
    font-family:"Open Sans";
    color:#004e64;
}

.navigation a:hover{
    color:white;
    background-color:#004e64;
}

.responsive-menu li {display:block;}

.contentbox{
    display:block;
    margin:10px auto;
    border:hidden;
    padding:15px;
    background-color: #ACDDE7;
    font-family:"Open Sans";
    font-size:16px;
    font-style: italic;
    border-radius:5px;
}

footer{
    flex-flow:column;
    padding:1.2rem;
    font-family:"Open Sans";
    text-align:center;
    color:#ACDDE7;
    
}

#currentday{color:white;}
