header, footer{
    background-color:#004e64;
    display:flex;
    align-items:center;
    padding:10px;
}

header, nav, main, footer{
    max-width:767px;
    margin:0px auto;
    border-radius:5px;
}

header img{
    width:60px;
    height:auto;
   
}

h1{
    color:#ACDDE7;
    font-size:1.5rem;
    font-family:"Secular one";
    margin:0 0 0 10px;
}

h2{
    color:#004e64;
    font-family:"Secular one";
    text-align:center;
}

.gardenhead{
    display:flex;
    flex-direction:column;
}

.motto{
    font-family:"Open Sans";
    font-style: italic;
    font-size: 8px;
    color:white;
    margin-left:5px;
}


nav{
    margin:0 auto;
    max-width:760px;
    background-color:#004e64;   
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li{
    display:none;
}

.navigation li:first-child{
    display:block;
}

.navigation a{
    display:block;
    padding:0.9rem;
    text-align:center;
    text-decoration:none;
    font-family:"Open Sans";
    color:white;
}

.navigation a:hover{
    color:#004e64;
    background-color:#ACDDE7;
    border-radius:10px;
}



.contentbox{
    display:block;
    margin:10px auto;
    border:hidden;
    padding:15px;
    background-color: #ACDDE7;
    font-family:"Open Sans";
    font-size:16px;
    font-style: italic;
    border-radius:5px;
}

footer{
    flex-flow:column;
    padding:1.2rem;
    font-family:"Open Sans";
    text-align:center;
    color:#ACDDE7;
}

#currentday{color:white;}
.active{
    background-color:#80C99B;
}

