h1, h2 {
    padding: 0;
    margin: 0;
    font-family:"Secular One";
}
h1{font-size:1.5rem;}
h3, h4 {
    padding: 0;
    margin: 0;
    font-family:"Open Sans";
}

html a {
    text-decoration: none;
    align-content: center;
}
body{font-family:"Open Sans";}

.top-text {
    display:none;
    text-align:center;
    padding:5px;
    margin:0 auto;
    padding:1em;
    background-color:#E8FFB7;
    color:black;   
}
header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    background-color:#004e64;
    color:#ffffff;
}

header picture img {
    width: auto;
    height: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.motto {
    padding: 0.5rem;
    font-family:"Open Sans";
    margin:0px;
    font-size:12px;
}



main {
    max-width: 60rem;
    margin: auto;
   
}

main h2 {
    text-align: center;
    padding: 10px 0;
    font-family:"Secular one";
}

.hero-container {
    position: static;
}

.hero-container picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-container picture img {
    width: 100%;
}

.weather-summary {   
   text-align: center;
   background-color:#ACDDE7;
   padding: 10px 0;
   font-family:"Open Sans";
   
}

.forecast_container{
    display:none;
}

nav {
    background-color:#ACDDE7; 
    font-family:"Open Sans";
    margin: 0 auto;
}

.navigation {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child { 
    display: block;
}

.navigation li {
    display: none;
    border-top: none;
}

.showmenu li {
	display: block;
}

.hamburger  {
    font-size: 1.2rem;
    color: #ffffff;
}

.navigation li a {
    display: block;
    text-align: left;
    color: black;
    padding: .8rem 2%;
    font-weight: 600;
}

.navigation li a.active {
    background-color:#E8FFB7;
    color:black;
}

.navigation li a:hover {
    background-color: #004e64;
    color:#ffffff;
}
article {
    background-color: #004e64;   
}

article div, article h3, article p {
    color: #ffffff;
    padding: 0 0 10px 0;
    margin: 0;
    padding:10px;
}

article img {
    width: 100%;
    margin: 0;
}

.map img {
    width: 50%;
    height:auto;
}

.contact-map {
    padding: 10px 0 0 0;
}

.contact-info {
    padding: 0 0 10px 0;
}

.contact-info p {
    padding: 5px;
}


footer {
    max-width: 60rem;
    margin: auto;
    background-color: #ACDDE7;
    color: black;
    padding: 0;
    line-height: 1.1em;
    text-align: center;
    font-family:"Open Sans";
}

.footer-bar p {
    margin: 0;
    padding: 5px;
}

.footer-bar {
    padding: 10px 0;
    background-color: #004e64; 
    color:#ffffff;   
}