header {background:#3b5998;
    font-family: "Bad Script";
    text-align: center;
    border-radius:6px 6px 3px 3px;}
    
    body {font-size:1.5em;
    font-family:"Tenali Ramakrishna";
    margin:auto;
    }
    
    h1 {color:white;
    }
    h2 {font-family: "Tenali Ramakrishna";
    color:#141B41;}
    
    .myimage {width: 200px;
    height:250px;
    float: right;
    margin:10px;
    box-shadow: -10px 10px 30px 0 rgba(20, 27, 60, 0.6);
    border-radius: 6px 6px 6px 6px;
   }
    
    .line {border-bottom-width:1px;
    border-bottom-color:green;
    border-bottom-style: solid;}
    
    a {color: green;}
    a:hover {color:red;}
    
    header, nav, main, footer {
       margin: 1em auto;
       max-width: 900px;
    }
    
    footer a {
       color: yellow;
       text-decoration: none;
    }
    
    footer a:hover {
       color: red;
    }
    
    main {
       margin: 1em auto;
       max-width: 850px;
       padding:10px;
    }
     
    footer {background:#3b5998;
    font-family: "Tenali Ramakrishna";
    color:white;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    padding: 0.05em 0;
    font-size: 1rem;}
    
    