html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    color:#004e64;
    background-color:white;
    font-family: "Open Sans"; 
    max-width:960px; 
    margin:0 auto;
    font-size:16px;
    line-height: 1.25;
    padding: 0;
    float: none;
}


.top-text {
    display:none;
    text-align:center;
    max-width:960px;
    padding:5px;
    margin:0 auto;
    padding:1em;
    background-color:#E8FFB7;
    color:black;   
}

header{
    background-color:#004e64;
    display:flex;
    align-items:center;
    padding:10px;
    justify-content:center;   
}


.gardenhead{
    display:flex;
    flex-direction:column;
}

header, main, footer{
    max-width:960px;
    margin: auto;
}


.logo{
    width:50px;
    height:auto;    
}

.responsive-menu li {display:block;}

.image_container{
    position:relative;
    margin: 0 auto;
    max-width:960px;
}
.image_container img {
    width: 100%;
    margin-bottom: 1em;
}
.summary {
    background: #E8FFB7;
    border: none;
    padding: .75rem;
    text-align:center;

}

.summary h3 {
    margin: auto;
    text-decoration: underline;
}

.summary p {
    margin: 0 auto;
}

table{
    width:100%;
    border:1em;
    padding-bottom:2em;
}
table tr td {
    height:2em;
    color:white;
}
td{text-align: center;
background-color:#004e64}
td:first-child{text-align:center;
    font-weight:bold;
}
th{text-align:center;
background-color:#004e64;
color:white;
}
.preston_container{
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.city{
    max-width:960px;
    margin:0 auto;
    text-align:center;
    font-size:25px;
}
main {
    max-width: 960px;
    margin: 0 auto;
}

.forecast_container{
    flex: 1 1 auto;
    color:white;
    background-color:white;
    border-right:1px solid #004e64;
    max-width:960px;
    margin: 0 auto;
}
.forecast{
    text-align:center;
}
.rain{
    background-color:#ACDDE7;
    border:none;
    max-width:10vw;
    height:auto;
}
.sun{
    background-color:#ACDDE7;
    border:none;
    max-width:10vw;
    height:auto;
}
.cloudy{
    background-color:#ACDDE7;
    border:none;
    max-width:10vw;
    height:auto;
}
.article_container{
    background-color:#004e64;
    color:white;
    max-width:960px;
    margin:1.2em auto;
    overflow:hidden;
}
.article2{
    padding-left:1em;
    padding-right:1em;
    padding-bottom:1em;
}
.article_img{
    max-width:100%;
    height:auto;
}   

h1{
    color:white;
    font-size:2rem;
    font-family:"Secular one";
    margin: 10px;
}

h2{
    color:#004e64;
    font-family:"Secular one";
    text-align:center;
}



.motto{
    font-family:"Open Sans";
    font-style: italic;
    font-size: 0.8rem;
    color:white;
    margin-left:10px;
}


nav{
    max-width:960px;
    background-color:#ACDDE7;  
    margin: auto; 
    text-align:center;
}
nav ul{
    list-style-type:none;
    padding:0;
    margin:0 auto;
    overflow:hidden;
}
nav ul li {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    padding: .8rem 2%;
}
nav ul li a{
    color: #004e64;
    text-decoration: none;
}
.active{
    text-decoration:underline;
}
.navigation a{
    display:block;
    padding:1rem;
    text-align:center;
    text-decoration:none;
    font-family:"Open Sans";
    color:black;
    font-weight: 200;
}





nav button{
    margin:0.2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
}

.footer_container{
    line-height:1em;
}

footer{
    list-style-type: none;
    background-color:#ACDDE7;
    display:flex;
    text-align:center;
    padding: 0 0 0 0;
    justify-content:center;
    flex-flow:column;
    color:black;
}

footer h3{
    font-weight:bold;
    text-align:center;
}
.contact2{
    padding:1em;
    max-width:960px;
    margin:0 auto;
    text-align:center;
}
.contact2 p{
    text-align:center;
}
.contact_img{
    max-width:300px;
    height:auto;
}
.footer_bottom{
    background-color:#004e64;
    text-align:center;
    color:white;
    padding:10px;
}
#currentday{color:white;}
