@media only screen and (min-width: 70rem) {
h1{font-size:2.5rem;}
img {
  height: 100%;
}
.weather_container{
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/*----------- Home Page --------------*/
.towns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 960px;
  grid-gap: 10px;
}
        
.towns section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 10% 20% 20%;
  width: 300px;
  padding: 0 0 10px;
  align-items: center;
  justify-items: center;
}
        
.towns img {
  object-fit: cover;
  width: 280px;
  height: 200px;
  border-radius: 5px 5px 0 0;
  grid-row: 1;
  margin-top:15px;
        
}
.towns h2 {
  grid-row: 2;
  margin-top: 20px;
}
.towns p {
  grid-row: 3;
  padding: 0 15px 15px;
  font-size:19px;
}
.info {
  grid-row: 4;
  width: 90%;
        
}        

        
.towns section:nth-child(odd) img {
  grid-column: 1;
}
        
.towns section:nth-child(even) img {
  border-radius: 5px 5px 0 0;
}
        
.towns section:nth-child(even) h2,
.towns section:nth-child(even) p,
.towns section:nth-child(even) .info {
  grid-column: 1;
        
}

}

